<% if @teachers.present? %>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Employee #</th>
					<th>Name</th>
					<th>Birth Date</th>
					<th>Joining Date</th>
					<th>Present</th>
					<th>Phone</th>
					<th>Gender</th>
				</tr>
			</thead>
			<tbody>
				<% @teachers.each do |teacher| %>
					<tr>
						<td><%= teacher.employee_number %></td>
						<td>
							<%#= teacher.full_name %>
							<a href="#"><%= best_in_place teacher, :full_name, :as => :input, :inner_class => "form-control input-sm", placeholder: "---", :url => teacher_path(teacher.id) %></a>
						</td>
						<td><%= teacher.date_of_birth %></td>
						<td><%= teacher.joining_date %></td>
						<td><%= teacher.is_present? %></td>
						<td><%= teacher.phone %></td>
						<td><%= teacher.gender %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<br />
	<div class="alert alert-info">
		<blockquote>
			No Teachers availble. Register <%= link_to "New", new_teacher_path %>
		</blockquote>
	</div>
<% end %>