$("a#tab_student_<%= @batch.id %>").bind("ajax:beforeSend", function(evt, data, status, xhr){
	// $("#students_in_<%= @batch.id %>").html("<br /><div class='alert alert-danger'><blockquote><i class='fa fa-spinner fa-spin fa-2x'></i> <span class='font-size:32px;'>Loading</span></blockquote></div>");
}).bind("ajax:success", function(evt, data, status, xhr){
	$("#students_sections").html("<%= escape_javascript(students_sections_list(@batch.sections)).html_safe %>")

	setTimeout(function() {
	  $('div.students_search_index').find("div.tab-pane").each(function() {
	  	if (!$(this).hasClass("active")) {
		    $(this).find("div").empty();
		  }
	  });
	}, 500);

	$("ul.students_search_index").find("li").each(function(){
		if ($(this).hasClass("active")) {
		  $(this).css("font-weight", "bold");
		} else {
		  $(this).css("font-weight", "normal");
		}
	})

	$(".student_batch_name_count_<%= @batch.id %> a").html("<%= @batch.batch_name %> (<%= @batch.students.count %>)")
	$("#students_in_<%= @batch.id %>").hide().html("<%= escape_javascript(render 'students_list', students: @students, batch: @batch).html_safe %>").fadeIn(500);	

}).bind("ajax:error", function(evt, data, status, xhr){
	swal("Oops Something went wrong!")
});
