<div class="page-header">
	<h1>Register New Teacher</h1>
</div>

<%= simple_form_for(@teacher, as: resource_name, url: teacher_registration_path) do |f| %>
  <%= validation_errors_notifications(@teacher) %>

  <div class="row">
  	<div class="col-md-6">
  		<div class="panel panel-default">
  			<div class="panel-heading">Credentials</div>
  			<div class="panel-body">
  				<div class="form-group">
				    <%= f.input :email, autofocus: true, placeholder: "Email" %>
				  </div>
  			</div>
  		</div>
  		<div class="form-group">
		    <%= f.input :first_name, placeholder: "First Name", label: false %>
		  </div>
		  <div class="form-group">
		    <%= f.input :last_name, placeholder: "Last Name", label: false %>
		  </div>
		  <div class="form-group">
		    <%= f.input :gender, collection: ["Male", "Female"], label: false, as: :select, prompt: "--Select Gender--" %>
		  </div>
		  <div class="form-group">
		    <div class="input-group date" id="form_teacher_dob">
          <%= f.input :date_of_birth, placeholder: "Date of Birth", :as => :string, label: false %>
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
		  </div>
		  <div class="form-group">
		    <%= f.input :phone, placeholder: "Phone", label: false %>
		  </div>
  	</div>
  	<div class="col-md-6">
  		<div class="form-group">
		    <div class="input-group date" id="form_teacher_joining_date">
          <%= f.input :joining_date, placeholder: "Joining Date", :as => :string, label: false %>
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
		  </div>
		  <div class="form-group">
		    <%= f.input :qualification, placeholder: "Qualification", label: false %>
		  </div>
		  <div class="form-group">
		    <%= f.input :past_experience, placeholder: "Past Experience", label: false %>
		  </div>
		  <div class="form-group">
		    <%= f.input :skills, placeholder: "Specialty", label: false %>
		  </div>
  	</div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Register", class: "btn btn-success" %>
    <%= link_to "Cancel", teachers_path, class: "btn btn-default" %>
  </div>
<% end %>

