<% Batch.current_batches.each do |batch| %>
	<div class="row">
		<div class="col-md-6">
			<blockquote>
				<small><strong><%= batch["name"] %></strong></small>
			</blockquote>
		</div>
		<div class="col-md-6">
			<% if Batch.allocations(batch["id"]).present? %>
				<a href="javascript:void(0)" onclick="removeAllocations(this);" data-batch-id="<%= batch["id"] %>" data-url="<%= remove_allocations_institutes_course_allocations_path(batch["id"], format: :json) %>" class="btn btn-danger btn-sm pull-right" data-batch-name="<%= batch["name"] %>">Remove All</a>
			<% end %>
		</div>
	</div>
	
	<br />
	<table class="table table-striped allocations_table allocations_table_for_<%= batch["id"] %> display responsive" data-source="<%= get_allocations_institutes_course_allocations_path(batch["id"], format: :json) %>" width="100%">
		<thead>
	    <tr>
	      <th>Teacher</th>
				<th>Course</th>
				<th>Section</th>
				<th>Timing</th>
				<th>Day</th>
	    </tr>
	  </thead>
	</table>
	<hr />
	<script type="text/javascript">
		$(function(){
			// Destroying Old Data Table and reinitializing
			// $("table.allocations_table_for_<%#= batch.id %>").DataTable().clear().destroy();
			$("table.allocations_table_for_<%= batch['id'] %>").DataTable({
			  responsive: true,
			  bSort: true,
			  bFilter: true,
			  "iDisplayLength": 7,
			  ajax: $("table.allocations_table_for_<%= batch['id'] %>").data("source"),
			  "columns": [
			    {
			      "data": "teacher"
			    }, {
			      "data": "course"
			    }, {
			      "data": "section"
			    }, {
			      "data": "timings"
			    }, {
			      "data": "week_day"
			    }
			  ]
			});
		});
	</script>
<% end %>
