<% Batch.current_batches.each do |batch| %>
	<div class="row">
		<div class="col-md-6">
			<blockquote>
				<small><strong><%= batch["name"] %> (<%= batch["semester"] %>)</strong></small>
			</blockquote>
		</div>
		<div class="col-md-6">
			<div id="remove_all_allocations">
				<% if Batch.allocations(batch["id"]).present? %>
					<%= raw remove_all_allocations(batch['id'], batch['name']) %>
				<% end %>
			</div>
		</div>
	</div>
	
	<br />
	<table class="table table-striped allocations_table allocations_table_for_<%= batch["id"] %> display responsive" data-source="<%= get_allocations_institutes_course_allocations_path(batch["id"], format: :json) %>" width="100%">
		<thead>
	    <tr>
	      <th>Teacher</th>
				<th>Course</th>
				<th>Section</th>
				<th>Status</th>
				<th>---</th>
	    </tr>
	  </thead>
	</table>
	<hr />
	<script type="text/javascript">
		$(function(){
			// Destroying Old Data Table and reinitializing
			// $("table.allocations_table_for_<%#= batch.id %>").DataTable().clear().destroy();
			$("table.allocations_table_for_<%= batch['id'] %>").DataTable({
			  responsive: true,
			  bSort: true,
			  bFilter: true,
			  "iDisplayLength": 7,
			  ajax: $("table.allocations_table_for_<%= batch['id'] %>").data("source"),
			  "columns": [
			    {
			      "data": "teacher"
			    }, {
			      "data": "course"
			    }, {
			      "data": "section"
			    }, {
			      "data": "status"
			    }, {
			      "data": "send_instructions"
			    }
			  ]
			});
		});
	</script>
<% end %>
