<% if semester.courses.present? %>
	<table class="table table-striped table-hover table-checked-list-box">
		<thead>
			<tr>
				<th>Name</th>
				<th>Code</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% semester.courses.each_with_index do |course, i| %>
				<% count = i + 1 %>
				<tr>
					<td><%= course.name %></td>
					<td><%= course.code %></td>
					<td>
						<div class="radio" style="margin-top:1px;">
							<input type="radio" name="course_id" value="<%= course.id %>" id="course_<%= course.id %>_radio" />
							<label for="course_<%= course.id %>_radio"></label>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>						
<% else %>
	<strong>No courses assigned</strong>
<% end %>

