<% content_for :institute_settings do %>
	<h2>
	  Allocate Courses to Teachers
	</h2>
	<hr />
  <div class="allocations">
  	<div class="row">
  		<div class="col-md-12">
  			<div class="panel panel-default">
  				<div class="panel-heading">Select Courses and Teachers</div>
  				<div class="panel-body">
  					<div class="row">
  						<div class="col-md-6">
  							<%= select_tag :teacher_for_courses, options_for_select(Teacher.all.map{|m| [m.full_name, m.id]}), class: "form-control teacher_allocation", prompt: "--Select Teacher--", onchange: "getRecordAllocation(this);", data: { name: "teacher" } %>
  							<br /> <br />
  							<div class="teacher_for_courses listing_for_allocations">
  								<%= render "teachers", teachers: @teachers %>
  							</div>
  						</div>
  						<div class="col-md-6">
                <div class="well" style="max-height: 300px;overflow: auto;">
                  <ul class="list-group checked-list-box">
                    <% @week_days.each do |day| %>
                      <li class="list-group-item"><strong><%= day.name %></strong></li>
                    <% end %>
                  </ul>
                </div>
  						</div>
  					</div>
  					<br />
  					<div class="row">
  						<div class="col-md-6">
  							<%= select_tag :semester_for_courses, options_for_select(Semester.all.map{|m| [m.name, m.name]}), class: "form-control course_allocation", prompt: "--Select Semester--", onchange: "getRecordAllocation(this);", data: { name: "semester" } %>
  							<br /> <br />
  							<div class="semester_for_courses listing_for_allocations">
  								<%#= render "courses", courses: nil %>
                  <% @semesters.each do |semester| %>
                    <strong><%= semester.name %></strong>
                    <% if semester.courses.present? %>
                      <table class="table table-striped table-hover table-checked-list-box">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody data-type="courses">
                          <% semester.courses.each do |course| %>
                            <tr>
                              <td><%= course.name %></td>
                              <td><%= course.code %></td>
                              <td></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    <% else %>
                      <div class="no-record">
                        <blockquote><p>No courses assigned</p></blockquote>
                      </div>
                    <% end %>
                  <% end %>    
  							</div>
  						</div>
  						<div class="col-md-6">
  							<!-- Normal Days -->
                <div class="listing_for_allocations">
    							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    								<div class="panel panel-default">
    							    <div class="panel-heading" role="tab" id="headingOne">
    							      <h4 class="panel-title">
    							        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#normaldaysCollaspe" aria-expanded="true" aria-controls="normaldaysCollaspe">
    							          <h4>Mon - Thurs Timings</h4>
    							        </a>
    							      </h4>
    							    </div>
    							    <div id="normaldaysCollaspe" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    							      <div class="panel-body">
                          <div class="well" style="max-height: 300px;overflow: auto;">
                            <ul class="list-group checked-list-box">
                              <% @normal_timings.each do |time| %>
                                <li class="list-group-item allocate_timings">
                                  <strong><%= l time.start_time, format: :timings %></strong> - <strong><%= l time.end_time, format: :timings %></strong>
                                </li>
                              <% end %>
                            </ul>
                          </div>
    							      </div>
    							    </div>
    							  </div>
    							  <!-- Fridays -->
    							  <div class="panel panel-default">
    							    <div class="panel-heading" role="tab" id="headingOne">
    							      <h4 class="panel-title">
    							        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#fidaysCollaspe" aria-expanded="true" aria-controls="fidaysCollaspe">
    							          <h4>Friday Timings</h4>
    							        </a>
    							      </h4>
    							    </div>
    							    <div id="fidaysCollaspe" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    							      <div class="panel-body">
                          <div class="well" style="max-height: 300px;overflow: auto;">
                            <ul class="list-group checked-list-box">
                              <% @friday_timings.each do |time| %>
                                <li class="list-group-item allocate_timings">
                                  <strong><%= l time.start_time, format: :timings %></strong> - <strong><%= l time.end_time, format: :timings %></strong>
                                </li>
                              <% end %>
                            </ul>
                          </div>

    							      </div>
    							    </div>
    							  </div>
    							  <!-- End -->
    							</div>
                </div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
	<%= button_tag "Allocate", class: "btn btn-primary", id: "allocate_btn" %>
<% end %>