<% if params[:controller].split("/").first == "institutes" %>
  <div class="container-fluid">
    <div class="page-heading-admin-settings">
      Institute Swttings
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="admin-settings-list-group">
          <%= link_to "Batches", institutes_batches_path, class: "list-group-item" %>
          <%= link_to "Sections", institutes_sections_path, class: "list-group-item" %>
          <%= link_to "Classrooms", institutes_classrooms_path, class: "list-group-item" %>
          <%= link_to "Courses", institutes_courses_path, class: "list-group-item" %>
          <%= link_to "Course Allocations", institutes_course_allocations_path, class: "list-group-item" %>
        </div>
      </div>
      <div class="col-md-9">
        <%= yield :settings %>
      </div>
    </div>
  </div>
<% end %>