<%= simple_form_for classroom, url: institutes_classrooms_path, method: "post", defaults: { input_html: { class: "form-control" } } do |f| %>
  <div aria-hidden="true" aria-labelledby="classroom_modalLabel" class="modal fade" id="classroom_modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="classroomLabel">Add New Classroom For Your Institute</h4>
          <hr/>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :name, placeholder: "Classroom Name" %>
              </div>
              <div class="col-md-6">
                <label>Type Of Room:</label>
                <%= f.input :type_or_room, label: false, collection: [["Classroom", 1], ["Lab", 2]], prompt: "--Choose Type--" %>
              </div>
            </div>
            <p>
              <div class="row">
                <div class="col-md-6">
                  <label>Color of Class <em>(Optional)</em>:</label>
                  <%= f.input :color, label: false, placeholder: "Pick Color", input_html: { data: { minicolors: {theme: :bootstrap, position: :right}}}  %>
                </div>
                <div class="col-md-6">
                  <%= f.input :strength, placeholder: "Class Strength" %>
                </div>
              </div>
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default cancel-classroom" data-dismiss="modal" type="button">Close</button>
            <button class="btn btn-success" id="classroom_save" type="submit">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
