<%= simple_form_for @course, url: institutes_courses_path, method: "post", defaults: { input_html: { class: "form-control" } } do |f| %>
  <div aria-hidden="true" aria-labelledby="course_modalLabel" class="modal fade" id="course_modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="classroomLabel">Add New Course For Your Institute</h4>
          <hr/>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :name, placeholder: "Course Name" %>
              </div>
              <div class="col-md-6">
                <label>Course Code:</label>
                <%= f.input :code, placeholder: "Course Code", label: false %>
              </div>
            </div>
            <p>
              <div class="row">
                <div class="col-md-6">
                  <label>Theory/Lab:</label>
                  <%= f.input :course_type, collection: [["Theroy", false], ["Lab", true]], type: :select, prompt: "--Select--", label: false %>
                </div>
                <div class="col-md-6">
                  <%= f.association :semester, collection: Semester.all, prompt: "--Choose Semester--" %>
                </div>
              </div>
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" onclick="cancelForm(this);" data-dismiss="modal" type="button">Close</button>
            <button class="btn btn-success" id="course_save" type="submit">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
