<div class="row">
	<% @semesters.each do |semester| %>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"><%= semester.name %></div>
				<div class="panel-body">
					<% if semester.courses.blank? %>
						<div class="courses_scrollable">
							<div class="alert alert-warning" role="alert">
								No Courses Present
							</div>
						</div>
					<% else %>
						<div class="courses_scrollable">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Name</th>
										<th>Code</th>
										<th>Color</th>
										<th colspan="2"></th>
									</tr>
								</thead>
								<tbody>
									<% semester.courses.each do |course| %>
										<tr>
											<td><%= course.name %></td>
											<td><%= course.code %></td>
											<td><%= get_color(course.color) %></td>
											<td>
								        <%= link_to edit_institutes_course_path(course) do %>
								        	<i class="glyphicon glyphicon-pencil"></i>
								        <% end %>
								      </td>
								      <td>
								        <%= link_to "javascript:void(0)", "data-url" => institutes_course_path(course), method: "delete", :onClick => "confirmation('Remove this course?', this);"  do %>
								        	<i class="glyphicon glyphicon-trash"></i>
								        <% end %>
								      </td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>