<% content_for :institute_settings do %>
  <div class="page-header">
    <h2>Editing Course</h2>  
  </div>
  <%= simple_form_for @course, url: institutes_course_path(@course), method: :put, defaults: { input_html: { class: "form-control" } } do |f| %>
    
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, placeholder: "Course Name" %>
      </div>
      <div class="col-md-6">
        <label>Course Code:</label>
        <%= f.input :code, label: false, placeholder: "Course Code" %>
      </div>
    </div>
    <p>
      <div class="row">
        <div class="col-md-6">
          <label>Color of Course <em>(Optional)</em>:</label>
          <%= f.input :color, label: false, placeholder: "Pick Color", input_html: { data: { minicolors: {theme: :bootstrap}}}  %>
        </div>
        <div class="col-md-6">
          <%= f.association :semester, collection: Semester.all, prompt: "--Choose Semester--" %>
        </div>
      </div>
    </p>
    <p>
      <div class="row">
        <div class="col-md-6">
          <a href="<%= institutes_courses_path %>" class="btn btn-default">Cancel</a>
          <button class="btn btn-success" type="submit">Save</button>
        </div>
      </div>
    </p>   
  <% end %>
<% end %>
