<div class="row">
  <div class="col-md-3 col-sm-3">
    <blockquote class="blockquote-reverse">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="<%= if params[:action] == 'update' then 'active' elsif params[:action] == 'account_update' then '' else 'active' end %>" onclick="activeTabs(this);">
          <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
        </li>
        <li role="presentation" class="<%= if params[:action] == 'account_update' then 'active' else '' end %>" onclick="activeTabs(this);">
          <a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a>
        </li>
      </ul>
    </blockquote>
  </div>
  <div class="col-md-9">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane <%= if params[:action] == 'update' then 'active' elsif params[:action] == 'account_update' then '' else 'active' end %>" id="profile">
        <%= render "profile" %>
      </div>
      <div role="tabpanel" class="tab-pane <%= if params[:action] == 'account_update' then 'active' else '' end %>" id="account">
        <%= render "account" %>
      </div>
    </div>
  </div>
</div>


