<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/shared/head" %>
  </head>
  <body>
    <header>
      <%= render 'layouts/shared/navigation' %>
    </header>
    <main role="main">
      <div class="container">
        <%= render 'layouts/shared/breadcrumbs' %>
        <%= render 'layouts/shared/messages' %>
        <% if @sidebar %>
          <%= render 'layouts/shared/aside' %>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer>
      <%= render 'layouts/shared/footer' %>
    </footer>
  </body>
</html>
