<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/shared/head", title: "Dotmark - Student Panel" %>
  </head>
  <body>
    <header>
      <% if student_signed_in? %>
        <%= render 'layouts/student_layout/navigation' %>
      <% end %>
    </header>
    <main role="main">
      <div class="container">
        <% if student_signed_in? %>
          <%= render 'layouts/shared/breadcrumbs' %>
        <% end %>
        <%= render 'layouts/shared/messages' %>
        <%= yield %>
      </div>
    </main>
    <footer>
      <%= render 'layouts/shared/footer' %>
    </footer>
  </body>
</html>
